<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
</head>
<body>
  <!--header.php-->
  <header>
    <div class="container pa-0 relative">
      <a class="logo absolute" href="#Home">
        <img src="../assets/images/HITEGER_logotyp.png" alt="hiteger_logo"/>
      </a>
      <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1025 158.705">
          <defs>
              <filter id="Path_2" width="1025" height="158.705" x="0" y="0" filterUnits="userSpaceOnUse">
                  <feOffset dy="3"/>
                  <feGaussianBlur result="blur" stdDeviation="4"/>
                  <feFlood flood-opacity=".161"/>
                  <feComposite in2="blur" operator="in"/>
                  <feComposite in="SourceGraphic"/>
              </filter>
          </defs>
          <g id="Group_1" data-name="Group 1" transform="translate(3.7 9)">
              <path id="Path_1" d="M0 0l48.9 85.6a31.379 31.379 0 0 0 27.3 15.8h246.1V0z" class="cls-1" data-name="Path 1"/>
              <g class="cls-3" transform="translate(-3.7 -9)">
                  <path id="Path_2-2" d="M8.3 0l100.2 127.5a19.088 19.088 0 0 0 17.7 7L1009.3 0H8.3" class="cls-2" data-name="Path 2" transform="translate(3.7 9)"/>
              </g>
          </g>
      </svg>
      <button
        class="menu-menu-toggle white font-weight-bold align justify z-index-1"
        aria-controls="primary-menu"
        :aria-expanded="menustoggle ? 'true' : 'false'"
        @click="menustoggle = !menustoggle"
      >
        <div
          id="nav-icon"
          :class="{ toggled: menustoggle }"
        >
          <span></span><span></span><span></span><span></span>
        </div>
        <span>MENU</span>
      </button>
      <nav
        id="primary-menu"
        class="menu-menu column"
        v-show-slide:400="menustoggle || $vuetify.breakpoint.mdAndUp"
      >
        <div class="menu-menu-top-container">
          <ul :aria-expanded="menustoggle ? 'true' : 'false'">
            <li
              is="nav-recursive"
              v-for="item in menutop.items"
              :item="item"
              :key="item.id"
            ></li>
          </ul>
        </div>
        <div class="menu-menu-main-container">
          <ul :aria-expanded="menustoggle ? 'true' : 'false'">
            <li
              is="nav-recursive"
              v-for="item in menumain.items"
              :item="item"
              :key="item.id"
            ></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!--header.php EOF-->
  <!--single-services.php-->
  <div id="service">
    <v-img
      src="../assets/images/adult-arms-crossed-bow-tie.png"
      class="align"
      max-height="650px"
    >
      <div class="container" id="title">
        <h1 v-if="service" class="primary--text bold white d-inline-block px-3 py-1 font-exo">
          {{service.title.rendered}}
        </h1>
        <p v-if="service" class="podtytul secondary--text white mt-2 px-3 py-1 font-lato font-italic">
          {{service.acf.podtytul}}
        </p>
      </div>
    </v-img>
    <div class="container pa-0">
      <div class="layout row wrap">
        <div class="flex md12 lg9">
          <div id="single">
            <section class="container white relative" id="post">
              <div class="breadcrumbs font-lato mb-3">
                <span class="accent--text">Usługi / </span>
                <span class="accent--text">Audyty i Analizy / </span>
                <span class="secondary--text font-weight-black">Audyt 360 Efektywności Lidera</span>
              </div>
              <article class="layout row wrap">
                <div class="flex xs12 sm4">
                  <v-img v-if="service" :src="service.featured_media_url"/>
                </div>
                <div class="flex xs12 sm8">
                  <h3 v-if="service" class="mb-3 font-lato font-italic font-weight-regular">{{service.acf.zajawka}}</h3>
                  <div v-if="service" v-html="service.content.rendered"></div>
                </div>
              </article>
            </section>
            <section id="chips" class="container py-5">
              <h4 class="mb-3 primary--text row align font-italic font-lato font-weight-regular">Dla Kogo?</h4>
              <div class="layout row wrap">
                <div class="flex px-2" v-if="service">
                  <span
                    tabindex="0"
                    class="v-chip mr-3 mb-2 font-lato v-chip--outline theme--light"
                    v-for="(chip, k) in service.acf.dla_kogo.body"
                    :key="k"
                  >
                    <span class="v-chip__content">{{chip[0].c}}</span>
                  </span>
                </div>
              </div>
            </section>
            <section id="problems" class="container white">
              <h4 class=" mb-3 primary--text row align font-italic font-weight-regular font-lato">Jakie problemy rozwiązujemy?</h4>
              <div class="layout row wrap" v-if="service">
                <div
                  class="flex xs12 sm6 md4"
                  v-for="(issue, k) in service.acf.jakie_problemy_rozwiazujemy.body"
                  :key="k"
                >
                  <div class="layout row wrap align mb-4">
                    <div class="flex xs3 sm2 md3">
                      <v-img
                        :src="issue[0].c"
                        width="100%"
                      />
                    </div>
                    <div class="flex xs9 sm10 md9">
                      <p class="pr-5 pl-4 mb-0 font-lato">{{issue[1].c}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section id="parallax" class="container">
              <div class="layout row wrap">
                <div class="flex xs12 md6 py-0">
                  <h4 class="mt-5 mb-3 white--text row align font-italic font-weight-regular font-lato">Dlaczego warto pracować z nami?</h4>
                  <ul v-if="service" class="mb-5">
                    <li
                      v-for="(why, k) in service.acf.dlaczego_warto_pracowac_z_nami.body"
                      :key="k"
                      class="font-lato white--text"
                    >
                      {{why[0].c}}
                    </li>
                  </ul>
                </div>
                <div class="flex xs6 py-0">
                  <svg viewBox="0 50 427.577 350">
                    <g id="Group_255" data-name="Group 255" class="cls-1">
                      <path id="Path_866" data-name="Path 866" class="cls-2" d="M192.063,426.615l-.769-.385-21.725-12.689c-12.881,7.5-21.725,12.689-21.725,12.689a14.646,14.646,0,0,1-6.152,1.923,17.259,17.259,0,0,1-6.344-1.73L27.108,363.555s-4.037-.577-4.614-10.574V229.745h0v-.577c0-1.538.577-5.768,9.613-10.959,4.422-2.5,21.148-12.112,39.989-22.878v35.375a45.353,45.353,0,0,0,.769,8.459c1.538,6.344,4.614,6.729,4.614,6.729l122.467,70.942,6.344,3.653s4.23,2.115,7.5,2.115,7.306-2.307,7.306-2.307,17.3-10,39.22-22.878V353.75a9.289,9.289,0,0,1-.384,2.307,11.176,11.176,0,0,1-1.73,4.806c-.192.385-.577.577-.769.769-.769.577-9.805,5.96-22.686,13.458h0l15.188,8.844,7.306,4.23c12.689-7.5,21.533-12.689,22.3-13.266,2.884-2.307,3.461-9.613,3.461-9.613V284.154c1.346-.769,2.5-1.538,3.845-2.307l12.689-7.5c26.916-15.765,50.948-29.8,52.1-30.761,2.884-2.307,3.461-9.613,3.461-9.613v-15h0L332.6,205.906v16.342s-.384,6.152-2.884,8.075c-.961.769-20.187,12.112-42.3,24.8-1.538.769-2.884,1.73-4.422,2.692V214.942c0-3.845-5.575-8.075-6.152-8.459h-.192l-10.766-6.344-7.883-4.614L235.321,208.6h0l19.8,11.535s.961.769,2.115,1.73c1.538,1.346,3.076,3.461,3.076,5.383V271.08c-21.917,12.689-40.566,23.455-40.566,23.455a14.646,14.646,0,0,1-6.152,1.923,17.259,17.259,0,0,1-6.344-1.73l-21.533-12.5-86.9-50.371s-1.73-.192-3.076-3.461a25.14,25.14,0,0,1-1.346-9.228V182.451c19.226-10.959,36.529-20.956,40.758-23.263a9.99,9.99,0,0,1,.961-.577,15.9,15.9,0,0,1,4.614-1.73c.385,0,.961-.192,1.346-.192,2.5,0,6.537,2.115,6.537,2.115l20.956,12.112,22.686-12.881h0l-14.8-8.651-27.3-15.957a17.247,17.247,0,0,0-3.268-1.346,14.158,14.158,0,0,0-4.614-.961c-3.076,0-6.921,2.307-6.921,2.307s-3.268,1.923-8.651,5c-6.729,3.845-17.111,9.805-28.838,16.534a28.943,28.943,0,0,0-3.268,1.923V98.435s-1.538-5.191,9.613-11.343l1.154-.577c15.188-8.652,103.049-58.83,103.049-58.83s3.268-1.923,5.96-1.923h.961a23.224,23.224,0,0,1,5.575,1.923l10,5.768,40.95,23.84,55.37,32.3s5.191,3.653,5.191,7.113v34.029l16.342,9.421,6.152,3.653h0V84.592c0-4.037-6.152-8.459-6.152-8.459l-70.558-40.95L245.511,16.149,222.055,2.5S217.441,0,214.365,0h0c-3.076,0-6.921,2.307-6.921,2.307S129.58,46.718,96.7,65.559c-6.344,3.653-11.151,6.344-13.266,7.5C70.366,80.555,72.1,86.515,72.1,86.515v82.862c-27.3,15.573-54.6,31.145-60.753,34.606C1.538,209.559,0,214.365,0,216.48V362.017c0,14.419,5.383,15.188,5.383,15.188L121.7,444.687l12.5,7.306s4.23,2.115,7.5,2.115S149,451.8,149,451.8s19.226-11.343,43.065-25.185Z" transform="translate(0)"/>
                      <path id="Path_867" data-name="Path 867" class="cls-2" d="M351.487,144.233l-16.342-9.613L241.709,80.212,224.983,70.6l-.192-.192c-.961-.385-4.806-2.307-7.5-2.307-3.076,0-6.921,2.307-6.921,2.307s-10.382,5.96-25.185,14.419c-2.307,1.346-4.806,2.692-7.5,4.23-19.61,11.151-44.411,25.378-63.252,36.144-13.65,7.882-24.416,14.035-28.069,15.957a8.359,8.359,0,0,0-1.346.769c-11.343,6.921-10,12.689-10,12.689v15.957h0l22.494,13.073V166.535s-.769-5.575,9.613-11.343c3.268-1.923,13.842-7.882,27.108-15.573,2.692-1.538,5.383-3.076,8.267-4.806l23.263-13.266c7.113-4.037,14.035-8.075,20.187-11.535,14.611-8.267,25.378-14.419,25.378-14.419s3.268-1.923,5.96-1.923c2.5,0,6.537,2.115,6.537,2.115l27.3,15.765,62.675,36.529,16.534,9.613s5.191,3.653,5.191,7.113V291.116s-.384,6.152-2.884,8.075c-.385.192-3.076,1.923-7.306,4.422-13.65,8.075-43.45,25.378-67.289,39.412-19.418,11.343-34.991,20.379-34.991,20.379a14.646,14.646,0,0,1-6.152,1.923,17.119,17.119,0,0,1-6.152-1.73L186.34,349.37l-12.3-7.113-8.652-5-62.868-36.529s-1.73-.192-3.076-3.268a25.14,25.14,0,0,1-1.346-9.228V260.163h0L75.6,247.09v52.294a31.078,31.078,0,0,0,1.346,10,8.63,8.63,0,0,0,1.538,3.268,5.931,5.931,0,0,0,2.692,2.115L152.5,356.1l15.38,8.844,42.1,24.416s4.037,2.115,7.5,2.115c3.268,0,7.306-2.307,7.306-2.307s2.884-1.73,7.882-4.614c15.188-8.844,49.794-28.838,78.248-45.565,12.3-7.306,23.647-13.842,31.722-18.649,7.306-4.23,12.112-7.113,12.5-7.5,2.884-2.307,3.268-9.613,3.268-9.613V153.077C357.832,148.655,351.487,144.233,351.487,144.233Z" transform="translate(69.168 62.826)"/>
                    </g>
                  </svg>
                </div>
              </div>
            </section>
            <section id="range" class="container white" v-if="service">
              <h4 class="mb-3 primary--text row align font-italic font-weight-regular font-lato">Zakres działań</h4>
              <div class="layout row wrap" v-if="$vuetify.breakpoint.mdAndUp">
                <div class="flex sm12 md6">
                  <div class="layout column pr-2">
                    <expandable-box
                      class="collapsing mb-3"
                      v-for="(odd, o) in itemsOdd"
                      :key="o"
                      :id="o"
                      @toggle="activeOdd == $event ? activeOdd = null : activeOdd = $event"
                      :toggled="activeOdd == o"
                      wide-toggle
                    >
                      <h5 class="font-lato pa-3" slot="label">{{odd[0].c}}</h5>
                      <p class="px-3 mb-0 pb-3" slot="content">{{odd[1].c}}</p>
                    </expandable-box>
                  </div>
                </div>
                <div class="flex sm12 md6">
                  <div class="layout column pl-2">
                    <expandable-box
                      class="collapsing mb-3"
                      v-for="(even, e) in itemsEven"
                      :key="e"
                      :id="e"
                      @toggle="activeEven == $event ? activeEven = null : activeEven = $event"
                      :toggled="activeEven == e"
                      wide-toggle
                    >
                      <h5 class="font-lato pa-3" slot="label">{{even[0].c}}</h5>
                      <p class="px-3 mb-0 pb-3" slot="content">{{even[1].c}}</p>
                    </expandable-box>
                  </div>
                </div>
              </div>
              <div class="layout column" v-else>
                <expandable-box
                  class="collapsing mb-3"
                  v-for="(item, i) in service.acf.zakres_dzialan.body"
                  :key="i"
                  :id="i"
                  @toggle="activeOdd == $event ? activeOdd = null : activeOdd = $event"
                  :toggled="activeOdd == i"
                  wide-toggle
                >
                  <h5 class="font-lato pa-3" slot="label">Diagnoza organizacyjna</h5>
                  <p class="px-3 mb-0 pb-3" slot="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis eleifend tellus vitae pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  </p>
                </expandable-box>
              </div>
            </section>
            <section id="action" class="container pa-0">
              <div class="filter container py-5 column">
                <h4 class="pb-4 row text-xs-center align white--text font-lato font-weight-bold font-italic">Zainteresowany? Zostaw kontakt a oddzwonimy</h4>
                <a href="#" class="a-self-center button__arrow button__arrow--white">Zostaw swój kontakt</a>
              </div>
            </section>
            <section id="solutions" class="container white">
              <h4 class="mb-3 primary--text row align font-italic font-weight-regular font-lato">Nasze kompetencje (rozwiązania)</h4>
              <div class="container grid-list-xl">
                <div v-if="service" class="layout row wrap">
                  <div
                    class="flex xs12 sm6"
                    v-for="(solution, k) in service.acf.nasze_kompetencje.body"
                    :key="k"
                  >
                    <div class="layout row wrap align">
                      <div class="flex xs2">
                        <svg viewBox="0 0 49.612 57.118">
                          <defs>
                            <clipPath id="clip-path">
                              <path id="Path_9" data-name="Path 9" d="M285.517,348.468l-23.736-13.735a1.224,1.224,0,0,0-1.111,0l-23.736,13.735a1.066,1.066,0,0,0-.533.978v27.426a1.222,1.222,0,0,0,.533.978l23.736,13.735a1.184,1.184,0,0,0,.533.133,1.056,1.056,0,0,0,.533-.133l23.736-13.735a1.066,1.066,0,0,0,.533-.978V349.446A1.032,1.032,0,0,0,285.517,348.468Zm-1.689,27.737L261.2,389.274l-22.625-13.068V350.069L261.2,337l22.625,13.068v26.137Z" transform="translate(-236.4 -334.6)"/>
                            </clipPath>
                          </defs>
                          <g id="Group_602" data-name="Group 602" transform="translate(-226 -3568.691)">
                            <g id="hiteger-ikony-01" transform="translate(-10.4 3234.091)">
                              <g id="Layer_2" transform="translate(236.4 334.6)">
                                <g id="Group_4" data-name="Group 4" class="cls-1">
                                  <path id="Path_6" data-name="Path 6" class="cls-2" d="M301.827,404.2a29.974,29.974,0,0,1-24.936,13.38,26.615,26.615,0,0,1-4.223-.311c.044.622.044,1.2.044,1.822A29.809,29.809,0,0,1,262,442.027,29.919,29.919,0,1,0,301.827,404.2Z" transform="translate(-250.621 -373.263)"/>
                                  <path id="Path_7" data-name="Path 7" class="cls-3" d="M211.43,400.259c0-.622-.044-1.2-.044-1.822a28.522,28.522,0,0,1-7.512-2.089,29.968,29.968,0,0,1-18.136-25.737,33.127,33.127,0,0,0-4.223-.311,29.913,29.913,0,1,0,29.915,29.959Z" transform="translate(-189.294 -354.431)"/>
                                  <path id="Path_8" data-name="Path 8" class="cls-4" d="M246.38,357.13a28.521,28.521,0,0,0,7.512,2.089,33.127,33.127,0,0,0,4.223.311A29.915,29.915,0,1,0,228.2,329.615c0,.622.044,1.2.044,1.822A29.98,29.98,0,0,0,246.38,357.13Z" transform="translate(-231.845 -315.213)"/>
                                </g>
                              </g>
                              <path id="Path_930" data-name="Path 930" class="cls-5" d="M1036.209,550.348l8.711,8.991-8.711,8.9" transform="translate(-779.126 -195.835)"/>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <div class="flex xs10">
                        <p class="font-lato mb-0">{{solution[0].c}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="container white" id="testimonials">
              <h4 class="mb-3 primary--text row align font-italic font-weight-regular font-lato">Mówią o nas</h4>
              <div v-if="service" class="layout row wrap">
                <div
                  class="flex xs12 sm6 md4"
                  v-for="(member, k) in service.acf.mowia_o_nas.body"
                  :key="k"
                >
                  <div class="layout column member align">
                    <div class="hex hex-sq1">
                      <div class="hex-sq2">
                        <div class="hex-sq3 member__img" :style="{backgroundImage: 'url(' + member[0].c + ')' }"></div>
                      </div>
                    </div>
                    <p class="member__comment font-lato font-italic px-4">{{member[1].c}}</p>
                    <p class="a-self-end member__sign font-lato align ma-0">{{member[2].c}}</p>
                    <p class="member__company accent--text font-lato a-self-end font-italic">{{member[3].c}}</p>
                  </div>
                </div>
              </div>
            </section>
            <section id="case-study" class="container white">
              <h4 class="mb-3 primary--text row align font-italic font-weight-regular font-lato">Zobacz Case Study</h4>
              <expandable-box
                v-for="(study, k) in 3"
                class="mb-3 collapsing"
                :key="k"
                :id="k"
                @toggle="active == $event ? active = null : active = $event"
                :toggled="active == k"
                wide-toggle
              >
                <h5 class="font-lato pa-3" slot="label">
                  Wzrost zysku o 25% na kwartał! Case Study współpracy z Ideaware Interactive Sp. z o. o.
                </h5>
                <div slot="content">
                  <p class="px-3 mb-0 pb-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis eleifend tellus vitae pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  </p>
                  <a href="#" class="button__arrow mx-3 mb-3">Czytaj dalej</a>
                </div>
              </expandable-box>
            </section>
          </div>
        </div>
        <div class="flex md12 lg3">
          <aside class="ml-4">
            <expandable-box
              class="collapsing"
              v-model="toggle"
              @toggle="sideActive = null"
              ease
            >
              <h5
                slot="label"
                class="pa-3 font-exo"
              >
                Usługi
              </h5>
              <template v-for="service in services" slot="content">
                <div class="pad white" :key="'b-'+service.id"></div>
                <expandable-box
                  class="collapsing--lvl"
                  :class="{variation: sideActive == service.id}"
                  :key="service.id"
                  :id="service.id"
                  @toggle="sideActive == $event ? sideActive = null : sideActive = $event"
                  :toggled="sideActive == service.id"
                  ease
                >
                  <h5 slot="label" class="pa-2 pl-4 font-lato font-weight-regular">
                    {{service.title}}
                  </h5>
                  <a
                    slot="content"
                    class="secondary--text relative white pa-2 pl-5 font-lato"
                    v-for="s in service.children"
                    :key="s.id"
                  >
                    {{s.title}}
                  </a>
                </expandable-box>
                <div class="pad white" :key="'a-'+service.id"></div>
              </template>
            </expandable-box>
            <div id="leader" class="leader container pa-3 white">
              <div class="layout row wrap between">
                <div class="flex xs9 lg8 xl6 a-self-end">
                  <h3 class="leader__name font-lato font-weight-bold secondary--text">
                    Karolina Nowakowska
                  </h3>
                  <div class="leader__position font-lato font-italic primary--text">
                    <span>/ </span>
                    <span>Publicysta</span>
                  </div>
                </div>
                <div class="leader__image flex xs3 lg4 xl6">
                  <v-img src="../assets/images/team.png"/>
                </div>
              </div>
              <div class="leader__description secondary--text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus.
                </p>
                <p>
                  Aliquam consectetur dui viverra dui ultricies bibendum. Suspendisse potenti. Nulla gravida urna nec porttitor egestas. Aenean sed ultricies massa. Donec nunc sapien, euismod in mi non, semper sodales justo. Proin fringilla nisi nec iaculis facilisis. Nunc ultricies tempor nunc, eu placerat elit auctor a.
                </p>
              </div>
              <div class="leader__contact primary--text mb-3">
                <span class="email">E: </span>
                <a
                  href="mailto:karolina.nowakowska@hiteger.com"
                  class="d-inline"
                >
                  karolina.nowakowska@hiteger.com
                </a>
                <br />
                <span class="phone">T: </span>
                <a
                  href="tel:726282826"
                  class="d-inline"
                >
                  726 282 826
                </a>
              </div>
              <div class="leader__social row mb-3">
                <i class="twitter">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.792 20.074">
                    <path id="Path_860" data-name="Path 860" class="cls-1" d="M24.692,2.359a11.365,11.365,0,0,1-2.911.8A4.933,4.933,0,0,0,23.989.351a10.447,10.447,0,0,1-3.212,1.255,5.077,5.077,0,0,0-8.783,3.463,4.278,4.278,0,0,0,.151,1.154A14.445,14.445,0,0,1,1.657.954,5.182,5.182,0,0,0,1,3.463,5.071,5.071,0,0,0,3.262,7.678,5.131,5.131,0,0,1,.954,7.026v.05a5.065,5.065,0,0,0,4.065,4.968,5.5,5.5,0,0,1-1.355.2,5.558,5.558,0,0,1-.954-.1,5.083,5.083,0,0,0,4.717,3.513A10.242,10.242,0,0,1,1.1,17.816a9.67,9.67,0,0,1-1.2-.05,14.176,14.176,0,0,0,7.829,2.309,14.057,14.057,0,0,0,11.259-5.343,14.8,14.8,0,0,0,3.195-9.11V4.968A10.372,10.372,0,0,0,24.692,2.359Z" transform="translate(0.1)"/>
                  </svg>
                </i>
                <i class="linkedin">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.842 24.992">
                    <path id="Path_862" data-name="Path 862" class="cls-2" d="M22.985,0H1.857A1.811,1.811,0,0,0,0,1.807V23.186a1.811,1.811,0,0,0,1.857,1.807H22.985a1.842,1.842,0,0,0,1.857-1.807V1.807A1.876,1.876,0,0,0,22.985,0ZM7.528,20.877H3.764V9.636H7.528ZM5.621,8.08h0A1.94,1.94,0,0,1,3.513,6.123,1.968,1.968,0,0,1,5.621,4.165,1.968,1.968,0,0,1,7.729,6.123,1.888,1.888,0,0,1,5.621,8.08Zm15.407,12.8H17.264V14.855c0-1.506-.552-2.559-1.907-2.559a2.005,2.005,0,0,0-1.907,1.355,2.492,2.492,0,0,0-.1.9v6.273H9.585s.05-10.238,0-11.292h3.764v1.606a3.766,3.766,0,0,1,3.362-1.857c2.459,0,4.316,1.606,4.316,5.069Z"/>
                  </svg>
                </i>
              </div>
              <a href="#" class="leader__action button__arrow button__arrow--radius">
                Napisz do mnie
              </a>
            </div>
            <div id="service-download">
              <div class="filter align column py-3">
                <h3 class="mb-3 font-lato font-italic white--text font-weight-regular">Zamów broszurę oferty</h3>
                <a href="#" class="button__arrow button__arrow--white">Pobierz PDF</a>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <!--single-services.php EOF-->
  <!--footer.php-->
  <footer class="black">
    <div class="container row wrap between">
      <div class="nav mb-4">
        <h3 class="primary--text text-uppercase font-exo font-weight-bold mb-4">Nawigacja</h3>
        <ul>
          <li v-for="nav in navigation">
            <a :href="'#'+nav" class="secondary--text font-exo mb-3">
              {{nav}}
            </a>
          </li>
        </ul>
      </div>
      <div class="services mb-4">
        <h3 class="primary--text text-uppercase font-exo font-weight-bold mb-4">Usługi</h3>
        <ul>
          <li v-for="serv in services">
            <a :href="'#'+serv" class="secondary--text font-exo button__arrow button__arrow--border0 between mb-3">
              {{serv}}
            </a>
          </li>
        </ul>
      </div>
      <div class="info mb-4">
        <h3 class="primary--text text-uppercase font-exo font-weight-bold mb-4">Informacje</h3>
        <ul>
          <li v-for="info in informations">
            <a :href="'#'+info" class="secondary--text font-exo mb-3">
              {{info}}
            </a>
          </li>
        </ul>
      </div>
      <div class="company mb-4">
        <h3 class="primary--text text-uppercase font-exo font-weight-bold mb-4">Hiteger</h3>
        <p class="white--text font-exo">Grupa HiTEGER Sp. z o.o.
          West Station I
          Aleje Jerozolimskie 142A
          02-305 Warszawa
          NIP: 000 000 00 00
        </p>
      </div>
      <div class="contact mb-4">
        <h3 class="primary--text text-uppercase font-exo font-weight-bold">Kontakt</h3>
        <li v-for="cont in contact">
          <h6 class="secondary--text font-exo font-weight-light">{{cont.title}}</h6>
          <a class="white--text font-exo" :href="'mailto:'+cont.email">{{cont.email}}</a>
          <a class="white--text font-exo" :href="'tel:'+cont.phone">{{cont.phone}}</a>
        </li>
      </div>
      <div class="follow mb-4">
        <h3 class="primary--text text-uppercase font-exo font-weight-bold mb-4">Bądź na bieżąco</h3>
        <ul class="social row between">
          <li v-for="follow in 3">
            <a href="#">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <!--footer.php EOF-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>

</body>
</html>
