/*********************
FRONT PAGE SECTION  - Blog
*********************/
.blog {
  &::after {
    content: unset!important;
  }
  &__news, &__blog, &__vacancy {
    width: 32%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
  }
  @include breakpoint(md) {
    &__news, &__blog {
      width:48%;
    }
    &__vacancy {
      width:100%;
      margin-top: 40px;
    }
  }
  @include breakpoint(xs) {
    &__news, &__blog, &__vacancy {
      width: 100%;
    }
    &__blog {
      margin-top: 40px;
    }
  }
  ul {
    .single {
      .content {
        h5 {
          font-size: 18px;
          font-weight:800;
          color: #2b2b2b;
        }
        a {
          font-weight: 600;
        }
        p {
          font-size: 14px;
          line-height: 1.64;
          color: #666666;
        }
        iframe {
          width: 320px;
          height: 180px;
          @include breakpoint(lg) {
            width: 240px;
            height: 135px;
          }
          @media (max-width: 740px) {
            width: 160px;
            height: 90px;
          }
          @include breakpoint(xs) {
            width: 280px;
            height: 157.5px;
          }
          @include breakpoint(bi) {
            width: 180px;
            height: 101.25px;
          }
        }
      }
      .date {
        border-right: 1px solid #c9c9c9;
        font-weight: 500;
        .hex {
          height: 62px;
          width: 52px;
        }
        .month,
        .year {
          font-size: 13px;
        }
      }
    }
  }
  &__vacancy {
    a {
      border-color: #e9e9e9;
      color: #2b2b2b;
      font-family: $font-lato;
      border-width: 0 0 1px 0;
      padding-left: 0;
      width: 100%;
      &::after {
        background-color: black;
      }
    }
    li:last-child a{
      border: 0;
    }
  }
}
