/*********************
FRONT PAGE SECTION 7# - Numbers
*********************/
#numbers {
  background-image: url('../images/bg_methodology.jpg');
  background-size: cover;
  .numbers {
    @include breakpoint(sm) {
      padding:0 30%;
    }
    @include breakpoint(xs) {
      padding:0 15%;
    }
    &__number {
      font-size: 70px;
      left:50%;
      transform: translate(-50%,0);
      line-height: 1;
      top: calc(49% - 68px);
      @include breakpoint(md) {
        font-size: 52px;
        top: calc(49% - 60px);
      }
      @include breakpoint(sm) {
        font-size: 70px;
        top: calc(50% - 68px);
      }
    }
    &__text {
      font-size: 20px;
      min-height:60px;
    }
  }
  .container {
    min-height: 500px;
    @include breakpoint(sm) {
      min-height: 600px;
    }
    @include breakpoint(xs) {
      min-height: 1300px;
    }
  }
  h2 {
    font-family: 'Exo 2';
    font-size: 50px;
    margin: 0;
    min-height: 122px;
    @include breakpoint(bi) {
      font-size: 46px;
      min-height: 165px;
    }
  }
  svg {
    .cls-1 {
      fill: none;
      stroke: #efefef;
      stroke-width: 3px;
    }
  }
}
