/*********************
FRONT PAGE SECTION 2# - OUR MISSION
*********************/
.our-mission {
  .container {
    @include breakpoint(xl) {
      width: 1264px;
    }
  }

  &__circle-container {
    @include on-circle($item-count: 7, $circle-size: 24em, $item-size: 6em);
    margin-top: 52px;
    border: solid 1px #c9c9c9;
    left: 4%;
    transform: rotate(13deg);
    -ms-transform: rotate(13deg);
    -webkit-transform: rotate(13deg);

    @include breakpoint(md) {
      transform: rotate(13deg) scale(0.8);
      -ms-transform: rotate(13deg) scale(0.8);
      -webkit-transform: rotate(13deg) scale(0.8);
    }
    @include breakpoint(sm) {
      transform: rotate(13deg) scale(1);
      -ms-transform: rotate(13deg) scale(1);
      -webkit-transform: rotate(13deg) scale(1);
      margin-bottom: 2.5rem;
    }

    @include breakpoint(xs) {
      transform: rotate(13deg) scale(0.7);
      -ms-transform: rotate(13deg) scale(0.7);
      -webkit-transform: rotate(13deg) scale(0.7);
      margin: 0;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;

      img {
        transform: rotate(-13deg);
        -ms-transform: rotate(-13deg);
        -webkit-transform: rotate(-13deg);
      }
    }
    &::after {
      display: block;
      content: '';
      background-image: url('../fonts/wsparcie360.svg');
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: 60%;
      transform: rotate(-13deg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__container {
    z-index: 1;
    @include breakpoint(sm) {
      flex-direction: column;
    }

  }
  &__slider {
    overflow: hidden;
    position: relative;
    width: calc(50% + 7rem);
    @include breakpoint(sm) {
      width: 100%;
    }
    .swiper-slide {
      .slide-container {
        padding: 0 3.5rem;
        @include breakpoint(bi) {
          padding: 0 3rem;
        }
        h4 {
          @include breakpoint(md) {
            font-size: 26px;
          }
          @include breakpoint(bi) {
            font-size: 20px;
          }
        }
        p {
          font-size: 1rem;
          line-height: 1.38;
        }
      }
    }
  }
  &__button {
    @include breakpoint(sm) {
      align-self: flex-start;
    }
  }
}
