/*********************
FRONT PAGE SECTION - Services
*********************/
.services {
  .container {
    @include breakpoint(sm) {
      min-height: 760px;
    }
    @include breakpoint(xs) {
      min-height: 1170px;
    }
  }
}
.hex-grid {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
  margin-top: 160px;
  @include breakpoint(md) {
    -webkit-transform: translate(-50%,0) scale(0.8);
    -ms-transform: translate(-50%,0) scale(0.8);
    transform: translate(-50%,0) scale(0.8);
  }
  @include breakpoint(sm) {
    flex-wrap: wrap;
    width: 540px;
    -webkit-transform: translate(-50%,0) scale(0.95);
    -ms-transform: translate(-50%,0) scale(0.95);
    transform: translate(-50%,0) scale(0.95);
    margin-top: 124px;
  }
  @include breakpoint(xs) {
    width: 360px;
    -webkit-transform: translate( calc(-50% + 50px) , 0);
    -ms-transform: translate( calc(-50% + 50px) , 0);
    transform: translate( calc(-50% + 50px) , 0);
    margin-top: 60px;
  }
}
.hexagon {
  position: relative;
  width: 200px;
  height: 115.47px;
  background-color: #ffffff;
  margin: 57.74px 0;
  border-left: solid 2px #c9c9c9;
  border-right: solid 2px #c9c9c9;
  margin-left: -20px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  &:nth-child(2n) {
    margin-top: -46px;
    .hexagon--small {
      -webkit-transform: translate(348px,0);
      -ms-transform: translate(348px,0);
      transform: translate(348px,0);
    }
    .hexagon--supersmall {
      -webkit-transform: translate(252px,0);
      -ms-transform: translate(252px,0);
      transform: translate(252px,0);
    }
  }
  &:first-child {
    .hexagon--small:nth-child(4) {
      display: none;
    }
  }
  &:last-child {
    .hexagon--small:nth-child(3) {
      display: none;
    }
  }
  .content {
    -webkit-transform: rotate(-90deg) translate(0,62px);
    -ms-transform: rotate(-90deg) translate(0,62px);
    transform: rotate(-90deg) translate(0,62px);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    z-index: 2;
    i {
      width: 48px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      .cls-1 {
        fill: none;
        stroke: #c9c9c9;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        stroke-width: 2px;
      }
    }
    span {
      font-size: 23px;
      white-space: pre-line;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    p {
      font-size:13px;
      opacity: 0;
      width:164px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      &::before {
        content: '';
        height:1px;
        width:70%;
        background-color: white;
        position: absolute;
        top: -3px;
        left: 15%;
      }
    }
    a {
      font-size: 13px;
      opacity: 0;
      padding: .5rem .4rem .5rem .5rem;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      &::after {
        width:.6rem;
      }
    }
  }

  &:hover {
    background-color: $color-primary;
    .content {
      -webkit-transform: rotate(-90deg) translate(0,-28px);
      -ms-transform: rotate(-90deg) translate(0,-28px);
      transform: rotate(-90deg) translate(0,-28px);
      @include breakpoint(xs) {
        -webkit-transform: translate(0,-28px);
        -ms-transform: translate(0,-28px);
        transform: translate(0,-28px);
      }
      i {
        opacity: 0;
      }
      span {
        color: white;
      }
      p {
        opacity:1;
      }
      a {
        opacity: 1;
      }
    }
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 141.42px;
    height: 141.42px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 27.2893px;
  }
  &::before {
    top: -70.7107px;
    border-top: solid 2.8284px #c9c9c9;
    border-right: solid 2.8284px #c9c9c9;
  }
  &::after {
    bottom: -70.7107px;
    border-bottom: solid 2.8284px #c9c9c9;
    border-left: solid 2.8284px #c9c9c9;
  }
  @include breakpoint(sm) {
    &:nth-child(4),
    &:nth-child(6), {
      margin-top: 34px;
    }
    &:nth-child(5) {
      margin-top: 136px;
      .hexagon--small:nth-child(2) {
        display: none;
      }
    }
  }
  @include breakpoint(xs) {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    margin-top: 0!important;
    .content {
      -webkit-transform: translate(0,40px);
      -ms-transform: translate(0,40px);
      transform: translate(0,40px);
    }
    .hexagon--small,
    .hexagon--supersmall {
      display: none;
    }
    &:nth-child(2n) {
      -webkit-transform:  translate(-80px,0);
      -ms-transform:  translate(-80px,0);
      transform: translate(-80px,0);
      margin-top: 174px!important;
    }
  }
}
.hexagon--small {
  position: absolute;
  width: 60px;
  height: 34.64px;
  background-image: #ffffff;
  margin: 17.32px 0;
  border-left: solid 2px #e6e6e6;
  border-right: solid 2px #e6e6e6;
  svg {
    width:26px;
    transform: rotate(-90deg);
    .cls-1 {
      fill: none;
      stroke: #c9c9c9;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }

  &:nth-child(1),
  &:nth-child(2) {
    top: 22px;
    left: -74px;
  }
  &:nth-child(2) {
    left: -138px;
  }
  &:nth-child(3),
  &:nth-child(4) {
    top: -34px;
    left: -106px;
  }
  &:nth-child(4) {
    top: 78px;
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 42.43px;
    height: 42.43px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 6.7868px;
  }
  &::before {
    top: -21.2132px;
     border-top: solid 2.8284px #e6e6e6;
     border-right: solid 2.8284px #e6e6e6;
  }
  &::after {
    bottom: -21.2132px;
    border-bottom: solid 2.8284px #e6e6e6;
    border-left: solid 2.8284px #e6e6e6;
  }
}
.hexagon--supersmall {
  position: absolute;
  width: 28px;
  height: 16.17px;
  background-color: #ffffff;
  margin: 8.08px 0;
  border-left: solid 2px #e6e6e6;
  border-right: solid 2px #e6e6e6;
  &:nth-child(5),
  &:nth-child(6) {
    top: 86px;
    left: -41px;
  }
  &:nth-child(6) {
    top: -6px;
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 19.80px;
    height: 19.80px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 2.1005px;
  }
  &::before {
    top: -9.8995px;
    border-top: solid 2.8284px #e6e6e6;
    border-right: solid 2.8284px #e6e6e6;
  }
  &::after {
    bottom: -9.8995px;
    border-bottom: solid 2.8284px #e6e6e6;
    border-left: solid 2.8284px #e6e6e6;
  }
}
