/*********************
FRONT PAGE SECTION 6# - Success
*********************/
.success {
  .swiper-testimonials {
    .swiper-slide {
      &__container {
        margin: 0 15%;
        @include breakpoint(lg) {
          margin: 0 3%;
        }
        @include breakpoint(xs) {
          margin: 0 5%;
        }
        @include breakpoint(bi) {
          margin: 0 7%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      &__post {
        font-size: 20px;
        font-style: italic;
        line-height: 1.5;
        @include breakpoint(sm) {
          font-size: 16px;
        }
      }
      &__post,
      &__rating {
        width: 80%;
        @include breakpoint(lg) {
          width: 76%;
        }
        @include breakpoint(md) {
          width: 56%;
        }
        @include breakpoint(sm) {
          width: 77%;
        }
        @include breakpoint(xs) {
          width: 100%;
        }
      }
      &__image {
        margin-right: 3%;
        width: 17%;
        @include breakpoint(lg) {
          width: 21%;
        }
        @include breakpoint(md) {
          width: 40%;
        }
        @include breakpoint(sm) {
          width: 20%;
        }
        @include breakpoint(xs) {
          width: 56%;
          margin: 0;
          margin-bottom: 24px;
          position: relative;
          left: 50%;
          transform: translate(-50%,0);
        }
        @include breakpoint(bi) {
          width: 88%;
          left: 0;
          transform: none;
        }
      }

      &__author {
        font-family: 'Exo 2';
        font-size: 20px;
        font-weight: bold;
        color: #e43f25;
        width: 60%;
        @include breakpoint(lg) {
          width: 56%;
        }
        @include breakpoint(md) {
          width: 32%;
        }
        @include breakpoint(sm) {
          font-size: 16px;
          width: 42%;
        }
        @media (max-width: 705px) {
          width: 52%;
        }
        @include breakpoint(xs) {
          width: 48%;
        }
        @include breakpoint(bi) {
          width: unset;
        }

      }
      &__logo {
        height: 24px;
      }
      &__rating {
        @media (max-width: 835px) {
          width: 100%;
        }
        @include breakpoint(bi) {
          text-align: center!important;
        }
        span {
          color: #777;
          font-size: 32px;

          &.filled::before {
             content: "\2605";
             position: absolute;
             color: #ffbe1d;
          }
        }
      }
      &__button {
        @include breakpoint(sm) {
          font-size: 16px;
        }
        @include breakpoint(bi) {
          order: 1;
          font-size: 18px;
          margin-top: 20px;
        }
        @include breakpoint(ip) {
          align-self: center;
        }
      }
    }
  }
  .logos {
    .swiper-logos {
      width: 100%;
      .swiper-slide {
        width: 18%;
        margin: 0 1%;
        @include breakpoint(md) {
          width: 31.3333%;
        }
        @include breakpoint(xs) {
          width: 48%;
        }
        @include breakpoint(ip) {
          width: 98%;
        }
      }
    }
    z-index: 1;
    height: 100px;
  }
}
