/*********************
FRONT PAGE SECTION  - Team
*********************/
.team {
  background-image: url('../images/bg_methodology.jpg');
  background-size: cover;

  .member {
    width: 25%;

    @include breakpoint(md) {
      width: 33.3333%;
    }
    @include breakpoint(sm) {
      width: 50%;
    }
    @include breakpoint(bi) {
      width: 100%;
    }
    .hex {
      width: 200px;
      height: 220px;
    }
    &__img {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../images/member.png');
    }
    &__name {
      word-spacing: 9999px;
      font-size: 22px;
      font-weight: bold;
    }
    &__position {
      font-size: 16px;
      font-style: italic;
    }
    &__twitter,   &__linkedin {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
    }

  }



}
