/*********************
FOOTER
*********************/
footer {
  .container {
    & > div {
      width: 16%;
      @include breakpoint(md) {
        width: 32%;
      }
      @include breakpoint(xs) {
        width: 48%;
      }
      @include breakpoint(bi) {
        width: 100%;
      }
      p {
          white-space: pre-line;
          font-size: 1rem;
      }
      h6 {
        font-size: 1rem;
      }
      h3, ul li a {
        font-size: 18px;
        position: relative;
        &::before {
          background-color: #e43f25;
          height: 3px;
          content: '';
          left: 0;
          bottom: -6px;
          width: 52px;
          position: absolute;
        }
      }
      ul li a {
        font-size: 1rem;
        &::before {
          background-color: #6b6b6b;
          width: 28px;
          height: 1px;
          bottom: -3px;
        }
      }
      &.services ul li{
        &:last-child a{
          border: 0;
        }
        a {
          border-color: #e9e9e9;
          font-family: $font-lato;
          padding: 0;
          width: 100%;
          &::after {
            background-color: white;
          }
        }
      }
      .social {
        width: 152px;
        li {
          background-color: #6b6b6b;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          a::after, a::before {
            content: unset;
          }
        }
      }
    }
  }
}
