/*********************
GRID
*********************/

html {
    box-sizing: border-box;
    font-size: 16px;
}
body {
  margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
ul,ol {
  list-style: none;
  padding:0;
  margin:0;
}
a {
  text-decoration: none;
  display: block;
}
.container {
  @include breakpoint(xl) {
    max-width:1550px;
  }
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.j-end{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}
.between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.a-self-end {
  align-self: flex-end;
}
.a-self-start {
  align-self: flex-start;
}
.a-self-center {
  align-self: center;
}
.column{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.wrap{
  flex-wrap: wrap;
}
.font-exo {
    font-family: $font-exo!important;
}
.font-muli {
  font-family: $font-muli!important;
}
.font-lato {
  font-family: $font-lato!important;
}
.primary--text {
  color: $color-primary !important;
}
.secondary--text {
  color: $color-secondary !important;
}
.white--text {
  background-image: unset;
  -webkit-text-fill-color: white;
  text-fill-color: white;
}
.button__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: solid 1px $color-primary;
  font-size: 18px;
  color: $color-primary;
  font-family: 'Exo 2';
  padding: 1rem .75rem 1rem 1rem;
  &::after {
    content: '';
    background-color: #e43f25;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 744.09448819 1052.3622047'%3E%3Cg id='layer1'%3E%3Cpath style='fill:none;fill-rule:evenodd;stroke:%23e43f25;stroke-width:40;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none' d='M 434.36559,145.24522 216.46084,522.66732 434.3656,900.08943' id='path4140'/%3E%3C/g%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 744.09448819 1052.3622047'%3E%3Cg id='layer1'%3E%3Cpath style='fill:none;fill-rule:evenodd;stroke:%23e43f25;stroke-width:40;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none' d='M 434.36559,145.24522 216.46084,522.66732 434.3656,900.08943' id='path4140'/%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 1rem;
    transform: rotate(180deg);
  }
  &--white {
    border-color: white;
    color: white;
    &::after {
      background-color: white;
    }
  }
  &--border0 {
    border: 0;
  }
}

.z-index-1 {
  z-index: 1;
}
