/*********************
HEADER
*********************/
header {
  position: fixed;
  width: 100%;
  z-index: 2;
  .container {
    // fuck rev slider
    position: relative !important;
    z-index: 9999 !important;
    position: fixed;
    z-index: 2;
    @include breakpoint(sm) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background-color: white;
    }
  }
}

.logo {
  z-index: 11;
  padding: 1rem 0 0 1rem;
  @include breakpoint(lg) {
    left:-34px;
  }
  @include breakpoint(md) {
    left: -125px;
    padding-top:1.5rem;
  }
  @media (max-width:1150px) {
    left:-34px;
  }
  @include breakpoint(sm) {
    left:0;
    padding-top: .3rem;
    padding-left: .5rem;
    margin: 0;
    background-color: white;
    position: relative!important;
  }
  img {
    height: 5rem;
    @include breakpoint(md) {
      height: 4rem;
    }
    @include breakpoint(sm) {
      height: 3.75rem;
    }
  }
}

.header__svg {
  .cls-1 { opacity:.8; }
  .cls-2 { fill: #fff; }
  .cls-3 { -webkit-filter: url(#Path_2); filter: url(#Path_2); }
}

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg) scale(0.5);
      -ms-transform: rotate(0deg) scale(0.5);
          transform: rotate(0deg) scale(0.5);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #e43f25;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 18px;
    }

    &:nth-child(4) {
      top: 36px;
    }
  }

  &.toggled {
    span {
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }
}

.header__svg {
  position: absolute;
  top: -10px;
  left: -100px;
  width: 72%;
  pointer-events: none;
  z-index: 10;
  @include breakpoint(lg) {
    width: 92%;
    left: -148px;
  }
  @include breakpoint(md) {
    width: 118%;
    left: -304px;
    -webkit-transform: scale(0.8, 1);
        -ms-transform: scale(0.8, 1);
            transform: scale(0.8, 1);
  }
  @include breakpoint(sm) {
    display: none;
  }
}
.menu-menu {
  background-color: rgba(0,0,0,0.79);
  font-family: 'Muli', sans-serif;
  -webkit-clip-path: polygon(0 0, 100% 0, 96% 100%, 96% 1000vh, 0 1000vh, -100vw 0);
          clip-path: polygon(0 0, 100% 0, 96% 100%, 96% 1000vh, 0 1000vh, -100vw 0);
  &-toggle {
    right: 0;
    width: 132px;
    height: 72px;
    display: none!important;
    @include breakpoint(sm){
      position: relative;
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important;
    }
    & > span {
      font-family: $font-exo;
    }
    &::before {
      content: '';
      position: absolute;
      height: 72px;
      width: 1px;
      background-color: #c9c9c9;
      left: 0;
    }

  }
  &-top-container {
    margin-right: 9rem;
    @include breakpoint(lg) {
      margin-right: 3.2rem;
    }
    @include breakpoint(md) {
      margin-right: 2.8rem;
    }
    @include breakpoint(sm) {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
    }

    & > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      position: relative;
      margin-right: -1.5rem;

      &::after {
        content: '';
        height: 1px;
        width: 24rem;
        bottom: 0;
        right: 1.2rem;
        background-color: #524e4e;
        position: absolute;
      }

      & > .menu-item {

        & > a {
          position: relative;
          padding: .7rem 1.2rem;
          color: white;
          font-size: .875rem;
          @include breakpoint(lg) {
            font-size: .8rem;
          }
        }
        &:hover > a {
          color: #e43f25;
          &::after {
            content: '';
            background-color: #e43f25;
            height: 2px;
            bottom: .4rem;
            position: absolute;
            left: 1.2rem;
            width: calc(100% - 2.4rem);
            @include breakpoint(lg) {
              width: calc(100% - 1.2rem);
              left: .6rem;
            }
          }
        }
      }
    }

  }
  &-main-container {
    margin-right: 9rem;
    @include breakpoint(lg) {
      margin-right: 3.2rem;
    }
    @include breakpoint(md) {
      margin-right: 2.8rem;
    }

    & > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-right: -1.5rem;

      & > .menu-item {
        & > a {
          position: relative;
          font-size: 1.125rem;
          color: white;
          padding: 1.3rem 1.2rem;
          @include breakpoint(md) {
            font-size: 1rem;
          }
        }
        &:hover > a {
          color: #e43f25;
          &::after {
            content: '';
            background-color: #e43f25;
            height: 2px;
            bottom: 1rem;
            position: absolute;
            left: 1.2rem;
            width: calc(100% - 2.4rem);
            @include breakpoint(md) {
              width: calc(100% - 2rem);
              left: 1rem;
            }
          }
        }

        &:hover > .sub-menu {
          opacity: 1;
          pointer-events: all;
        }
        &.toggled > .sub-menu {
          opacity: 1;
          pointer-events: all;
        }

        & > .sub-menu {
          position: absolute;
          left: 0;
          background-color: rgba(0,0,0,0.9);
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          padding: 3.5rem 1.5rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          pointer-events: none;
          opacity: 0;
          width: 96%;

          & > .menu-item {
            width: 14.6666%;

            & > a {
              color: white;
              font-family: $font-exo;
              font-weight: bold;
              text-transform: uppercase;
              @include breakpoint(lg) {
                min-height: 38px;
              }
            }
            & > .menu-item-description {
              padding-top: .375rem;
              font-size: .8125rem;
              font-weight: 300;
              line-height: 1.31;
              color: #afafaf;
              font-family: $font-muli;

              &::after {
                content: '';
                display: block;
                width: 6rem;
                border-bottom: 1px solid #afafaf;
                padding-top: 1.25rem;
              }
            }

            & > .sub-menu {
              padding: 0;
              color: #afafaf;
              -webkit-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s;

              & > .menu-item {
                padding-top: 1.25rem;

                & > a {
                  font-size: 14px;
                  font-weight: 300;
                  color: #afafaf;
                }
              }
            }
          }
        }
      }
    }
  }
  @include breakpoint(sm) {
    width: 100%;
    -webkit-clip-path: unset;
            clip-path: unset;
    background-color: #212121;
    max-height:calc(100vh - 72px);
    overflow: scroll!important;
    -webkit-overflow-scrolling: touch;
    .sub-menu-toggle {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="100%" height="100%"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" fill="%23FFFFFF"></path></g></svg>');
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      padding: 1.3rem 2rem;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      &.toggled {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }

    & > div[class*='-container'] {
      margin: 0;
      & > ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: unset;
            -ms-flex-pack: unset;
                justify-content: unset;
        margin-right: 0;
        & > .menu-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width:100%;
            height:1px;
            background-color: #3d3d3d;
            top:0;
          }
          & > a {
            padding: .75rem 1rem;
            font-size: 1.25rem;
            position: relative;
          }
          &:hover > a {
            color: white;
            &::after {
              content: unset;
            }
          }
          & > .sub-menu {
            opacity: 1;
            pointer-events: all;
            position: relative;
            padding: 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            background-color: unset;
            width: 100%;
            & > .menu-item {
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
              overflow: hidden;
              -webkit-transition: .2s;
              -o-transition: .2s;
              transition: .2s;
              position: relative;
              &::after {
                content: '';
                position: absolute;
                width:100%;
                height:1px;
                background-color: #3d3d3d;
                top:0;
              }
              & > a {
                font-size: 1rem;
                padding: .75rem 1rem .75rem 2.5rem;
              }
              & > .menu-item-description {
                display: none;
              }
              & > .sub-menu {
                width: 100%;
                & > .menu-item {
                  padding: 0;
                  overflow: hidden;
                  -webkit-transition: .4s;
                  -o-transition: .4s;
                  transition: .4s;
                  position: relative;
                  &::after {
                    content: '';
                    position: absolute;
                    width:100%;
                    height:1px;
                    background-color: #3d3d3d;
                    top:0;
                  }
                  & > a {
                    font-size: .9375rem;
                    padding: .75rem 1rem .75rem 3.25rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/*********************
HEADER EOF
*********************/
