/*********************
HEADER
*********************/
header {
  position: fixed;
  width: 100%;
  z-index: 2;
  .container {
    // fuck rev slider
    position: relative !important;
    z-index: 9999 !important;
    @include breakpoint(sm) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: white;
    }
  }
}

.logo {
  z-index: 11;
  padding-top: .75rem;
  @include breakpoint(lg) {
    padding-top: .5rem;
    padding-left: 1rem;
  }
  @include breakpoint(lg) {
    padding-top: .3rem;
    padding-left: .2rem;
  }
  @include breakpoint(md) {
    margin-left: -32px;
  }
  @include breakpoint(sm) {
    padding-top: .3rem;
    padding-left: .5rem;
    margin: 0;
    background-color: white;
    position: relative;
  }
  img {
    height: 5.9rem;
    @include breakpoint(lg) {
      height: 6.2rem;
    }
    @include breakpoint(md) {
      height: 5.4rem;
    }
    @include breakpoint(sm) {
      height: 3.75rem;
    }
  }
}
#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg) scale(0.5);
  -moz-transform: rotate(0deg) scale(0.5);
  -o-transform: rotate(0deg) scale(0.5);
  transform: rotate(0deg) scale(0.5);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #e43f25;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 18px;
    }

    &:nth-child(4) {
      top: 36px;
    }
  }

  &.toggled {
    span {
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }
}

.header__svg {
  position: absolute;
  top: -14px;
  left: -100px;
  width: 65%;
  pointer-events: none;
  z-index: 10;
  @include breakpoint(lg) {
    width: 92%;
    left: -95px;
  }
  @include breakpoint(md) {
    width: 118%;
    left: -240px;
    transform: scale(0.8, 1);
  }
  @include breakpoint(sm) {
    display: none;
  }
}
.menu-menu {
  background-color: rgba(0,0,0,0.79);
  font-family: 'Muli', sans-serif;
  -webkit-clip-path: polygon(0 0, 100% 0, 96% 100%, 96% 1000vh, 0 1000vh, -100vw 0);
  clip-path: polygon(0 0, 100% 0, 96% 100%, 96% 1000vh, 0 1000vh, -100vw 0);

  &-toggle {
    right: 0;
    width: 132px;
    height: 72px;
    display: none!important;
    @include breakpoint(sm){
      position: relative;
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: -webkit-flex!important;
      display: flex!important;
    }
    & > span {
      font-family: $font-exo;
    }
    &::before {
      content: '';
      position: absolute;
      height: 72px;
      width: 1px;
      background-color: #c9c9c9;
      left: 0;
    }

  }
  &-top-container {
    margin-right: 9rem;
    @include breakpoint(lg) {
      margin-right: 3.2rem;
    }
    @include breakpoint(md) {
      margin-right: 2.8rem;
    }
    @include breakpoint(sm) {
      order: 1;
    }

    & > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: flex-end;
      position: relative;
      margin-right: -1.5rem;

      &::after {
        content: '';
        height: 1px;
        width: 24rem;
        bottom: 0;
        right: 1.2rem;
        background-color: #524e4e;
        position: absolute;
        @include breakpoint(lg) {
          right: .8rem;
        }
      }

      & > .menu-item {

        & > a {
          position: relative;
          padding: .7rem 1.2rem;
          color: white;
          font-size: .875rem;
          @include breakpoint(lg) {
            padding: .7rem .6rem;
            font-size: .8rem;
          }
        }
        &:hover > a {
          color: #e43f25;
          &::after {
            content: '';
            background-color: #e43f25;
            height: 2px;
            bottom: .4rem;
            position: absolute;
            left: 1.2rem;
            width: calc(100% - 2.4rem);
            @include breakpoint(lg) {
              width: calc(100% - 1.2rem);
              left: .6rem;
            }
          }
        }
      }
    }

  }
  &-main-container {
    margin-right: 9rem;
    @include breakpoint(lg) {
      margin-right: 3.2rem;
    }
    @include breakpoint(md) {
      margin-right: 2.8rem;
    }

    & > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: flex-end;
      margin-right: -1.5rem;

      & > .menu-item {
        & > a {
          position: relative;
          font-size: 1.125rem;
          color: white;
          padding: 1.3rem 1.2rem;
          @include breakpoint(md) {
            font-size: 1rem;
            padding: 1.3rem 1rem;
          }
        }
        &:hover > a {
          color: #e43f25;
          &::after {
            content: '';
            background-color: #e43f25;
            height: 2px;
            bottom: 1rem;
            position: absolute;
            left: 1.2rem;
            width: calc(100% - 2.4rem);
            @include breakpoint(md) {
              width: calc(100% - 2rem);
              left: 1rem;
            }
          }
        }

        &:hover > .sub-menu {
          opacity: 1;
          pointer-events: all;
        }
        &.toggled > .sub-menu {
          opacity: 1;
          pointer-events: all;
        }

        & > .sub-menu {
          position: absolute;
          left: 0;
          background-color: rgba(0,0,0,0.9);
          transition: 0.2s;
          padding: 3.5rem 1.5rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: space-between;
          pointer-events: none;
          opacity: 0;
          width: 96%;
          & > .menu-item {
            width: 14.6666%;

            & > a {
              color: white;
              font-family: $font-exo;
              font-weight: bold;
              text-transform: uppercase;
              @include breakpoint(lg) {
                min-height: 38px;
              }
            }
            & > .menu-item-description {
              padding-top: .375rem;
              font-size: .8125rem;
              font-weight: 300;
              line-height: 1.31;
              color: #afafaf;
              font-family: $font-muli;

              &::after {
                content: '';
                display: block;
                width: 6rem;
                border-bottom: 1px solid #afafaf;
                padding-top: 1.25rem;
              }
            }

            & > .sub-menu {
              padding: 0;
              color: #afafaf;
              transition: 0.2s;

              & > .menu-item {
                padding-top: 1.25rem;

                & > a {
                  font-size: .9375rem;
                  font-weight: 300;
                  color: #afafaf;
                }
              }
            }
          }
        }
      }
    }
  }
  @include breakpoint(sm) {
    width: 100%;
    -webkit-clip-path: unset;
    clip-path: unset;
    background-color: #212121;
    max-height: 0;
    overflow: hidden;
    transition: .4s;
    &.toggled {
      max-height: 1732px; // hardcoded :(
    }
    .sub-menu-toggle {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="100%" height="100%"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" fill="%23FFFFFF"></path></g></svg>');
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      padding: 1.3rem 2rem;
    }
    .toggled > .sub-menu-toggle {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    & > div[class*='-container'] {
      margin: 0;
      & > ul{
        flex-direction: column;
        justify-content: unset;
        margin-right: 0;
        & > .menu-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          position: relative;
          border-bottom: 1px solid #3d3d3d;
          & > a {
            padding: .75rem 1rem;
            font-size: 1.25rem;
            position: relative;
          }
          &:hover > a {
            color: white;
            &::after {
              content: unset;
            }
          }
          & > .sub-menu {
            opacity: 1;
            pointer-events: all;
            position: relative;
            padding: 0;
            flex-direction: column;
            background-color: unset;
            width: 100%;
            & > .menu-item {
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              overflow: hidden;
              max-height: 0;
              transition: .2s;
              position: relative;
              &::after {
                content: '';
                position: absolute;
                width:100%;
                height:1px;
                background-color: #3d3d3d;
                top:0;
              }
              & > a {
                font-size: 1rem;
                padding: .75rem 1rem .75rem 2.5rem;
              }
              & > .menu-item-description {
                display: none;
              }
              & > .sub-menu {
                width: 100%;
                & > .menu-item {
                  padding: 0;
                  overflow: hidden;
                  max-height: 0;
                  transition: .4s;
                  position: relative;
                  &::after {
                    content: '';
                    position: absolute;
                    width:100%;
                    height:1px;
                    background-color: #3d3d3d;
                    top:0;
                  }
                  & > a {
                    font-size: .9375rem;
                    padding: .75rem 1rem .75rem 3.25rem;
                  }
                }
              }
              &.toggled > .sub-menu > .menu-item  {
                max-height: 44px;
                border-top: 1px solid #3d3d3d;
              }
            }
          }
          &.toggled > .sub-menu > .menu-item {
            max-height: 308px;
            border-top: 1px solid #3d3d3d;
          }
        }
      }
    }
  }
}
/*********************
HEADER EOF
*********************/
