/*********************
SVG
*********************/
.header__svg {
  .cls-1 { opacity:.8; }
  .cls-2 { fill: #fff; }
  .cls-3 { filter: url(#Path_2); }
}
#ideaware {
  .cls-1{fill:#3a3a3a}.cls-2{fill:url(#radial-gradient)}
}
