/*********************
VARIABLES AND MIXINS
*********************/

$font-exo: 'Exo 2', sans-serif;
$font-muli: 'Muli', sans-serif;
$font-lato: 'Lato', sans-serif;

$color-primary: #e43f25;
$color-secondary: #6b6b6b;

@mixin breakpoint($point) {
   @if $point == xl {
     @media (min-width: 1905px) { @content ; }
   }
   @else if $point == lg {
     @media (max-width: 1904px) { @content ; }
   }
   @else if $point == md {
     @media (max-width: 1263px) { @content ; }
   }
   @else if $point == sm {
     @media (max-width: 959px) { @content ; }
   }
   @else if $point == xs {
     @media (max-width: 599px)  { @content ; }
   }
   @else if $point == bi {
     @media (max-width: 420px)  { @content ; }
   }
   @else if $point == ip {
     @media (max-width: 320px)  { @content ; }
   }
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);

    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform:
          rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
        -webkit-transform:
          rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
        -ms-transform:
          rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}
