//dev
//@import 'fonts';
//prod
@import 'variables';
@import 'grid';
@import 'svg';
@import 'header';
@import 'footer';
@import 'front_sec/index';
@import 'services/index';

.just-for-funny-import {
  background-image: url('../fonts/ideaware.svg');
  background-image: url('../images/HITEGER_logotyp.png');
  background-image: url('../images/adult-arms-crossed-bow-tie.png');
  background-image: url('../images/team.png');
}
