.v-image {
  @include breakpoint(xs) {
    max-height: unset!important;
    height:86vh;
  }
}
p.podtytul {
  font-size: 20px;
  max-width: 460px;
  margin:0;
}
#title {
  padding: 24px 0;
  @include breakpoint(sm) {
    margin-top: 72px;
    padding: 24px;
  }
}
h4 {
  font-size:28px;
  &::after {
    content: '';
    background-color: #c9c9c9;
    height:1px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 1rem;
  }
}
.collapsing {
  border: 1px solid #e4e4e4;
}
.collapse {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  &__toggle {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="100%" height="100%"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" fill="%23000000"></path></g></svg>');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-box-flex:1;
        -ms-flex-positive:1;
            flex-grow:1;
  }
  &__collapsable {
    width: 100%;
  }
  &.toggled > .collapse__toggle {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  &.variation {
    background-color: #e43f25;
    color: white;
    > .collapse__toggle {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="100%" height="100%"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" fill="%23ffffff"></path></g></svg>');
    }
  }
  &.wideToggle {
    .collapse__toggle {
      background-image: unset;
      position: absolute;
      width:100%;
      height:59px;
      &::after {
        content: '';
        position: absolute;
        right:0;
        padding: 29.5px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="100%" height="100%"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" fill="%23000000"></path></g></svg>');
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
      }
    }
    &.toggled > .collapse__toggle {
      -webkit-transform:none;
          -ms-transform:none;
              transform:none;
      &::after {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }
  }
}
aside {
  margin-top: -66px;
  @include breakpoint(md) {
    margin: 0!important;
    padding: 1rem;
  }
  h5 {
    width:76%;
    @include breakpoint(lg) {
      width:78%;
    }
    @include breakpoint(md) {
      width:90%;
    }
    @include breakpoint(xs) {
      width:84%;
    }
  }
  .collapsing {
    background-color: #eeeeee;
    > h5 {
      font-size: 23px;

    }
    .pad {
      height:3px;
      &:first-of-type,
      &:last-of-type {
        height:6px;
      }
    }
    &--lvl {
      > h5 {
        font-size: 18px;
      }
      a {
        font-size: 18px;
        &::after {
          content:'';
          height:1px;
          background-color: #e9e9e9;
          position: absolute;
          width:calc(100% - 4rem);
          left:2rem;
          bottom:0;
        }
        &:last-of-type::after {
          content:unset;
        }
      }
    }
  }
  .leader {
    margin-top: 70px;
    @include breakpoint(lg) {
      margin-top: 24px;
    }
    @include breakpoint(md) {
      margin-top: 228px;
    }
    &__name {
      font-size: 22px;
    }
    &__position {
      font-size: 18px;
    }
    &__image {
      margin-top:-70px;
      @include breakpoint(lg) {
        margin-top: -24px;
      }
      @include breakpoint(md) {
        margin-top: -228px;
      }
    }
    &__description,
    &__contact {
      font-size: 15px;
    }
    &__action {
      padding: .5rem 1rem .5rem 1.2rem;
      letter-spacing:1px;
    }
    &__social {
      svg {
        width:36px;
        margin-right: 8px;
      }
      .twitter .cls-1 {
        fill: #00aced;
      }
      .linkedin .cls-2 {
        fill: #0077b5;
      }
    }
  }
  #service-download {
    background-image: url('../images/macbookstock.png');
    background-position: left;
    background-size: cover;
    .filter {
      background-color: rgba(228, 63, 37, 0.79);
      width:100%;
    }
    h3 {
      font-size: 28px;
    }
  }
}
#post {
  margin-top: -66px;
  article {
    h3 {
      line-height: 1.32;
      font-size: 28px;
      color: #121212;
    }
    p {
      color:#666666;
      line-height: 1.59;
      font-size: 17px;
    }
  }
}
#chips {
  background-color:#ececec;
  .v-chip {
    border-color:#b7b7b7;
    color:#666666;
    font-size: 17px;
  }
}
#problems {
  p {
    font-size: 15px;
  }
}
#parallax {
  background-image: url('../images/services-parallax-1.png');
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 1rem;
  ul {
    list-style: disc;
    margin-left: 1rem;
  }
  svg {
    max-height:262px;
    @include breakpoint(sm) {
      display: none;
    }
    .cls-1 {
      opacity: 0.2;
    }
    .cls-2 {
      fill: #fff;
    }
  }
}
#range {
  h5 {
    font-size: 18px;
    font-weight: 600;
    color: #2b2b2b;
    width:91%;
    @include breakpoint(lg) {
      width:86%;
    }
    @include breakpoint(sm) {
      width:93%;
    }
    @include breakpoint(xs) {
      width:88%;
    }
  }
  p {
    font-size: 15px;
    color:#666666;
  }
  @include breakpoint(sm) {
    .layout {
      padding: 0 !important;
    }
  }
}
#action {
  background-image: url('../images/apple-device-blur.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .filter {
    background-color: rgba(228, 63, 37, 0.79);
  }
  h4 {
    font-size: 28px;
    &::before {
      content: '';
      background-color: white;
      height:1px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      margin-right: 1rem;
    }
    &::after {
      background-color: white
    }
  }
}
#solutions {
  .container {
    padding: 24px 0 ;
  }
  svg {
    .cls-1 {
      -webkit-clip-path: url(#clip-path);
              clip-path: url(#clip-path);
    }
    .cls-2 {
      fill: #6a1610;
    }
    .cls-3 {
      fill: #af2824;
    }
    .cls-4 {
      fill: #ff2300;
    }
    .cls-5 {
      fill: none;
      stroke: #e43f25;
      stroke-width: 3px;
    }
  }
  p {
    font-size: 15px;
  }
}
#testimonials {
  .hex {
    width:100px;
    height:120px;
  }
  .member {
    &__img {
      background-position: center;
      background-size: cover;
    }
    &__comment {
      font-size: 15px;
    }
    &__sign {
      font-size: 17px;
      &::before {
        content: '';
        background-color: #6B2B68;
        height:2px;
        width:52px;
        margin-right: 1rem;
      }
    }
    &__company {
      font-size: 15px;
    }
  }
}
#case-study {
  h5 {
      font-size: 18px;
      width:94%;
      @include breakpoint(lg) {
        width:92%;
      }
      @include breakpoint(xs) {
        width:84%;
      }
  }
  p {
    font-size: 15px;
  }
}
